<html>
 <head>
 <title>OpenLayers Vector Linestring Example</title>
  
 
    
 
 </head>
 <body>
     
  <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.izmirtoplutasimarehberi.com%2F&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=469104659832433" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:170px; height:21px;position:absolute;right:0px;z-index:1000;top:5px;" allowTransparency="true"></iframe>
     
 
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <div id="mouse-position"></div>
 	
 	  <select class="lang">
    <option value="Türkçe">Türkçe</option>
    <option value="English">English</option>
  </select>
  <br>
Edges:<br>

<div class="left-wrapper">
<form action="http://localhost:8080/RoutePlanner/Route">
    <div class="top-box">
      <div class="top-wrapper">
        <div class="start">
           <input placeholder="Baþlangýç adresi girin" lang="tr" type="text" name="src" id="src"/>
           <button class="geo btn" onclick="getLocation()"><img src="images/geo.png" style="width:18px;height:18px">
           </img></button>
        </div>
        <div class="end">
           <input placeholder="Varýþ adresi girin" lang="tr" type="text" name="dst" id="dst"/>
           <button class="swap btn" onclick="swap()"><img src="images/swap.png" style="width:19px;height:19px"></img></button>
           </div>
       
        <input type="submit" lang="tr" id="btn" class="snd btn btn-success" 
        
        value="Yol Tarifi Al">
        </input>
      </div>
    </div>
</form>
</div>

 <div id="edgesDiv" style="height:500px;"></div>
 
 


 <script>
   var style = new OpenLayers.StyleMap({
       'fillColor':"#FF8C00",
       'strokeWidth':10,
   });  
   map = new OpenLayers.Map("edgesDiv");
   map.addLayer(new OpenLayers.Layer.OSM());
   
   epsg4326 =  new OpenLayers.Projection("EPSG:4326"); //WGS 1984 projection
   projectTo = map.getProjectionObject(); //The map projection (Spherical Mercator)
  
   var lonLat = new OpenLayers.LonLat($centerObservationMap ).transform(epsg4326, projectTo);
   
   var zoom=16;
   map.setCenter (lonLat, zoom);

   var vectorLayer = new OpenLayers.Layer.Vector("Overlay", {styleMap:style});
   
   var points = [ 
   
       #foreach($point in $edgeList)
              new OpenLayers.Geometry.Point( $point ).transform(epsg4326, projectTo),
       #end
   
   ];
   
   var feature = new OpenLayers.Feature.Vector(
           new OpenLayers.Geometry.LineString(points)
   );

    markers = new OpenLayers.Layer.Markers( "Markers" );
    markers.id = "Markers";
	map.addLayer(markers);

	map.events.register("click", map, function(e) {
     
    var position = map.getLonLatFromPixel(e.xy);
    var x = new OpenLayers.LonLat(position.lon, position.lat).transform('EPSG:3857', 'EPSG:4326');
    alert("Lat : "+x.lon.toFixed(5)+"  Lon  : "+x.lat.toFixed(5));
    if(document.getElementById("src").value=="")
    {
		document.getElementById("src").value = x.lon.toFixed(5)+","+x.lat.toFixed(5);
	}else{
		document.getElementById("dst").value = x.lon.toFixed(5) +","+x.lat.toFixed(5);
	}
	
    var size = new OpenLayers.Size(21,25);
    var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
    var icon = new OpenLayers.Icon('images/marker.png', size, offset);   
    var markerslayer = map.getLayer('Markers');
   	markerslayer.addMarker(new OpenLayers.Marker(position,icon));
   	

   });
    
   
   vectorLayer.addFeatures(feature);

   map.addLayer(vectorLayer);
   
   
      var mousePositionControl = new ol.control.MousePosition({
        coordinateFormat: ol.coordinate.createStringXY(4),
        projection: 'EPSG:4326',
        className: 'custom-mouse-position',
        target: document.getElementById('mouse-position'),
        undefinedHTML: '&nbsp;'
      });

      var map = new ol.Map({
        controls: ol.control.defaults({
          attributionOptions: /** @type {olx.control.AttributionOptions} */ ({
            collapsible: false
          })
        }).extend([mousePositionControl]),
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        target: 'map',
        view: new ol.View({
          center: [0, 0],
          zoom: 2
        })
      });

      var projectionSelect = document.getElementById('projection');
      projectionSelect.addEventListener('change', function(event) {
        mousePositionControl.setProjection(ol.proj.get(event.target.value));
      });

      var precisionInput = document.getElementById('precision');
      precisionInput.addEventListener('change', function(event) {
        var format = ol.coordinate.createStringXY(event.target.valueAsNumber);
        mousePositionControl.setCoordinateFormat(format);
      });
   
   
   
 function swap(){
 
	var srcpre = document.getElementById("src").value;
	document.getElementById("src").value = document.getElementById("dst").value;
	document.getElementById("dst").value = srcpre;
	
}	



function getDirections(){
//
}


function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
       
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
 	document.getElementById("src").value=position.coords.longitude+","+position.coords.latitude;
 	
}

var markerArray = [];

function putMarker(position,icon,title){

    var markers = new OpenLayers.Layer.Markers( "Markers" );
   	markers.id = "Markers";
	map.addLayer(markers);
    markerArray.push(markers);
}
   
 </script>
 
 

  
  
</body>
</html>
